@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 250 250; /* #FAFAFA */
    --foreground: 19 19 19; /* #131313 */
    --card: 255 255 255;
    --card-foreground: 19 19 19;
    --popover: 255 255 255;
    --popover-foreground: 19 19 19;
    --primary: 0 44 199; /* #002CC7 */
    --primary-foreground: 250 250 250;
    --secondary: 245 245 245;
    --secondary-foreground: 19 19 19;
    --muted: 245 245 245;
    --muted-foreground: 107 114 126;
    --accent: 245 245 245;
    --accent-foreground: 19 19 19;
    --destructive: 239 68 68;
    --destructive-foreground: 248 250 252;
    --border: 229 231 235;
    --input: 229 231 235;
    --ring: 0 44 199;
    --radius: 0.5rem;
  }

  .dark {
    --background: 8 8 8;
    --foreground: 250 250 252;
    --card: 8 8 8;
    --card-foreground: 250 250 252;
    --popover: 8 8 8;
    --popover-foreground: 250 250 252;
    --primary: 0 44 199;
    --primary-foreground: 250 250 250;
    --secondary: 23 23 23;
    --secondary-foreground: 250 250 252;
    --muted: 23 23 23;
    --muted-foreground: 161 161 170;
    --accent: 23 23 23;
    --accent-foreground: 250 250 252;
    --destructive: 127 29 29;
    --destructive-foreground: 250 250 252;
    --border: 39 39 42;
    --input: 39 39 42;
    --ring: 0 44 199;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
